.card {
  width: 50% !important;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p{
      margin-bottom: 30px;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.question-container {
  display: inline-block;
  width: 70%;
}
.submit-btn {
  margin-top: 10px;
}
.question-input {
  height: 9vw;
}
@media (min-width: 768px) {
  .input-style {
    width: 22vw;
  }
}

