.cardPadre {
  display: flex;
  flex-direction: inherit;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 54px;
}

.card {
  width: 18rem;
  text-align: center;
  margin: 7px;
  z-index: 100;
}

.Titulo {
  text-align: center;
  margin-top: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 2;
}

.fondo {
  position: absolute;
  height: 50vw;
  top: 30px;
  z-index: -1;
  filter: brightness(50%);
}

.card-img-top {
  border-radius: 100%;
  width: 69px;
  height: 59px;
  position: absolute;
  top: -32px;
  left: 19px;
}
