.cardPadre {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 54px;
}

.icon-container {
  background-color: rgb(152, 26, 177);
  border-radius: 100%;
  width: 69px;
  height: 59px;
  position: absolute;
  top: -32px;
  left: 19px;
}

.icon{
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: 30px;
}

.icon2{
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 30px;
}

.icon3{
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 30px;
}

.card {
  width: 18rem;
  text-align: center;
  margin: 7px;
}

.Titulo {
  color:#fff;
  text-align: center;
  margin-top: 90px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px rgb(153, 13, 118);
}

.fondo {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/src/Assets/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.header {
  padding: 1rem 0rem 3rem 0rem;
  min-height: 70rem;
}

.card-img-top {
  border-radius: 100%;
  width: 69px;
  height: 59px;
  position: absolute;
  top: -32px;
  left: 19px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:visited {
  background-color: rgb(230, 36, 213);
  border-color: rgb(153, 13, 118);
}

@media (max-width: 600px) {
  .cardPadre {
    flex-direction: column !important;
  }
} ;
